:root{
    --primary-coloer:#FBBF24;
    /* --off-white: #9CA3AF; */
    /* --dark-gray:#6B7280; */
}


 body{
    margin-top: 3rem;
    font-family: cursive;
    margin: 2px;
    /* padding: 200px; */
    border-bottom-left-radius: 3rem;
    background-color: var(--primary-coloer);
    background-image: url(45.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: cover; 
    /* opacity: 70%;  */
}
h1{
    color: blanchedalmond;
    font-family: cursive;
    font-size: 5rem;
    text-align: center;
}
h3{
    color: white;
    font-size: xx-large;
}
p{
    color: white;
    font-size: xx-large;
}


textarea{
    width: 50%;
    height: 20vh;
    display: block;
    margin: 0rem;
    padding: 1rem;
    font-size: x-large;
    margin: auto;
    border: solid;
}


#output{
    /* margin: 0; */
    border: 1px solid black;
    height: 20vh;
    width: 50%;
    padding: 1rem;
    font-family:cursive;
    margin: auto;
    border: solid;
    font-size: xx-large;
    background-color: blanchedalmond;


    
} 
#btn-translate{
    font-size: xx-large;
    font-weight: bold;
    height: 55px;
    width: 23%;
    margin-left: 40%;
    margin-top: 20px;
    background-color:var(--primary-coloer);
    color: black;

}
.txt{
    margin-left: 22%;
    font-size: xx-large;
    font-weight: bold;
    color: blanchedalmond;

}
/* spece ke liye use hota hai */
hr{
    margin: 3rem 1rem;

}

/* spaces */
.margin.md{
    margin: 2rem
}

/* navigation */

.navigation{
    background-color: var(--primary-coloer);
    color: black;
    padding: 4rem;
    border-bottom-left-radius: 4rem  ;
    text-align: center;
    font-weight: bold;
    font-size: xx-large;

}

.navigation .nav-brand{
    font-weight: bold;
    font-size: 1rem;
}


.navigation .nav-pills{
    text-align: right;
    
}


.hero{
    padding: 2rem;
    padding-top: 2rem;
}
.hero .hero-img{
    max-width: 400px;
    display: block;
    margin: auto; 
}

.hero .hero-heading{
    text-align: center;
    font-size: xx-large;
    color: var(--dark-gray);
    /* padding: var(--dark-gray); */
}

.hero .hero-heading .heading-inverted{
    color: var(--primary-coloer);
}



/* section background color */
/* .ow{
    background-color: var(--off-white);
} */





.container-center{
    max-width: 400px;
    margin: auto;
    text-align: center;
    
}

/* footers */
.footer{
    /* background-color: var(--primary-coloer); */
    padding: 2rem 3rem;
    text-align: center;
    color: black;
    border-top-right-radius: 3rem;
}

.footer .footer-header{
    font-weight: bold;
    font-size: xx-large;
    color: white;
}